<!--------------------------------- ---->
<!-- Created by El Hadji M. NDONGO ----->
<!-- on 12/2/2021 ------------------------>
<!-- Project: gestionOrdi ---------->
<!-------------------------------------->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Gestion des Ordinateurs</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <ul class="navbar-nav mr-auto">
            <li class="navbar-brand">
                <a class="text-white nav-item nav-link" th:href="@{/}">Accueil</a>
            </li>
            <li class="navbar-brand">
                <a class="nav-link" th:href="@{/user/employes}">Employes</a>
            </li>

        </ul>
    </nav>

</header>
<section layout:fragment="content">

</section>
<footer class="myFooter bg-dark">
    <blockquote class="blockquote myfooterText">
        <p class="mb-0 text-white">Ousseynou NGOM | DevOps Engineer | @2023</p>
    </blockquote>
</footer>
</body>
</html>