<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="utf-8">
    <title>Ajouter un.e employe.e</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<section layout:fragment="content">
    <article class="card">
        <span th:text="${operation}=='modification'?'Modification Employe.e':'Nouveau.elle Employe.e'"
              class="card-header text-center"></span>
        <div class="card-body">
            <form th:action="@{/admin/employes/add}" th:object="${employeForm}" method="post">
                <input th:if="${employeForm.idEmploye}" th:field="*{idEmploye}" th:value="${idEmploye}"
                       readonly hidden>

                <div class="input-group addBottomMarge">
                    <div class="input-group-prepend ">
                        <span class="input-group-text">Nom :</span>
                    </div>
                    <input type="text" class="form-control" th:field="*{nom}" th:value="${nom}" required>
                    <span th:if="${#fields.hasErrors('nom')}" class="text-danger"
                          th:errors="*{nom}"></span>
                </div>
                <div class="input-group addBottomMarge">
                    <div class="input-group-prepend ">
                        <span class="input-group-text">Prenom :</span>
                    </div>
                    <input type="text" class="form-control" th:field="*{prenom}" th:value="${prenom}" required>
                    <span th:if="${#fields.hasErrors('prenom')}" class="text-danger"
                          th:errors="*{prenom}"></span>
                </div>
                <div class="input-group addBottomMarge">
                    <div class="input-group-prepend ">
                        <span class="input-group-text">Email :</span>
                    </div>
                    <input type="email" class="form-control" th:field="*{email}" th:value="${email}" required>
                    <span th:if="${#fields.hasErrors('email')}" class="text-danger"
                          th:errors="*{email}"></span>
                </div>
                <div class="input-group addBottomMarge">
                    <div class="input-group-prepend ">
                        <span class="input-group-text">Phone : (+221) </span>
                    </div>
                    <input type="tel" class="form-control" th:field="*{phone}" th:value="${phone}" required>
                    <span th:if="${#fields.hasErrors('phone')}" class="text-danger"
                          th:errors="*{phone}"></span>
                </div>
                <div class="input-group addBottomMarge"></div>
                <button type="submit" class="btn btn-success align-center"
                        th:text="${operation}=='modification'?'Modifier': 'Ajouter' "></button>
            </form>
        </div>
    </article>

</section>
</body>
</html>