<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main">
<head>
    <meta charset="utf-8">
    <title>Ajouter une filliere</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<section layout:fragment="content">
    <article class="card">
        <!--TODO: Modify the title when it's a modification-->
        <span class="card-header text-center" >Nouvelle filliere</span>
        <div class="card-body">
            <form th:action="@{/fillieres}"  method="post">
                <div class="input-group addBottomMarge">
                    <input  th:if="${filliere.idFilliere}" th:name="idFilliere"  th:value="${filliere.idFilliere}" hidden>

                    <div class="input-group-prepend ">
                        <span class="input-group-text">Nom de la Filliere :</span>
                    </div>
                    <input type="text" class="form-control" name="nomFilliere" th:value="${filliere.nomFilliere}" >
,                   <span class="text-danger" th:errors="${filliere.nomFilliere}" ></span>
                </div>
                <div class="input-group addBottomMarge"></div>
                <p></p>
                <button type="submit" class="btn btn-success align-center">Ajouter</button>
            </form>
        </div>
    </article>

</section>
</body>
</html>