<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="utf-8">
    <title>Ajouter une filliere</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<section layout:fragment="content">
    <article class="card">
        <span th:text="${operation}=='modification'?'Modification filliere':'Nouvelle filliere'"
              class="card-header text-center"></span>

        <div class="card-body">
            <form th:action="@{/admin/fillieres/add}" th:object="${filliere}" method="post">
                <div class="input-group addBottomMarge">
                    <input th:if="${filliere.idFilliere}"  th:field="*{idFilliere}" th:value="${idFilliere}" readonly hidden >

                    <div class="input-group-prepend ">
                        <span class="input-group-text">Nom de la Filliere :</span>
                    </div>
                    <input type="text" class="form-control" th:field="*{nomFilliere}" th:value="${nomFilliere}"
                           required>
                    <span th:if="${#fields.hasErrors('nomFilliere')}" class="text-danger"
                          th:errors="*{nomFilliere}"></span>
                </div>
                <div class="input-group addBottomMarge"></div>
                <p></p>
                <button type="submit" class="btn btn-success align-center"
                        th:text="${operation}=='modification'?'Modifier': 'Ajouter' "></button>
            </form>
        </div>
    </article>

</section>
</body>
</html>