<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="utf-8">
    <title>Nouvelle filliere</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<section class="card" layout:fragment="content">
    <header class="card-header bg-success text-white">
        <span th:text="${operation}=='modification'?'Filliere modifiée avec success':'Filliere ajoutée avec success'"></span>
    </header>
    <article class="card-body">
        <section class="card-text">
            <div>
                <span class="font-weight-bold">ID</span> <span class="lead" th:text="${filliere.idFilliere}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Nom de la Filliere</span> <span
                    class="lead" th:text="${filliere.nomFilliere}"></span>
            </div>

        </section>
        <a th:href="@{/fillieres}" class="btn btn-sm btn-success">Aller vers la
            liste des filliere</a>
    </article>
</section>
</body>
</html>