<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Nouveau.elle etudiants</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<!--TODO: Must find a way to include this menu otherwise code is duplicated in all html pages-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">GestionOrdi UVS</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/etudiants}">Etudiants</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/ordinateurs}">Ordinateurs</a></li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/fillieres}">Fillieres</a>
            </li>
        </ul>
    </div>
</nav>

<section class="card">
    <header class="card-header bg-success text-white">
        <!--TODO: Modify the message when it's a modification-->
        <span>Etudiant.e ajoute.ee avec success</span>
    </header>
    <article class="card-body">
        <section class="card-text">
            <div>
                <span class="font-weight-bold">ID</span> <span class="lead" th:text="${etudiant.idEtudiant}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Nom</span> <span
                    class="lead" th:text="${etudiant.nom}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Prenom</span> <span
                    class="lead" th:text="${etudiant.prenom}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Email</span> <span
                    class="lead" th:text="${etudiant.email}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Telephone</span> <span
                    class="lead" th:text="${etudiant.phone}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Filliere</span> <span
                    class="lead" th:text="${etudiant.filliere.nomFilliere}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Ordinateur</span> <span
                    class="lead"
                    th:text="${etudiant.ordinateur.marque}+--+${etudiant.ordinateur.type}+--+${etudiant.ordinateur.ram}+--+${etudiant.ordinateur.processeur}+--+${etudiant.ordinateur.capaciteDisque}"></span>
            </div>

        </section>
        <a th:href="@{/etudiants}" class="btn btn-sm btn-success">Aller vers la
            liste des etudiants</a>
    </article>
</section>

<!--TODO: Must find a way to include this footer otherwise code is duplicated in all html pages-->
<footer class="myFooter bg-dark">
    <blockquote class="blockquote myfooterText">
        <p class="mb-0 text-white">El Hadji M. NDONGO | Java Software Engineer | @2021</p>
    </blockquote>
</footer>
</body>
</html>