<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="utf-8">
    <title>Nouveau.elle etudiants</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<section class="card" layout:fragment="content">
    <header class="card-header bg-success text-white">
        <span th:text="${operation}=='modification'?'Etudiant.e modifié.e avec success':'Etudiant.e ajouté.e avec success'"></span>
    </header>
    <article class="card-body">
        <section class="card-text">
            <div>
                <span class="font-weight-bold">ID</span> <span class="lead" th:text="${etudiant.idEtudiant}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Nom</span> <span
                    class="lead" th:text="${etudiant.nom}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Prenom</span> <span
                    class="lead" th:text="${etudiant.prenom}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Email</span> <span
                    class="lead" th:text="${etudiant.email}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Telephone</span> <span
                    class="lead" th:text="${etudiant.phone}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Filliere</span> <span
                    class="lead" th:text="${etudiant.filliere.nomFilliere}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Ordinateur</span> <span
                    class="lead"
                    th:text="${etudiant.ordinateur.marque}+--+${etudiant.ordinateur.type}+--+${etudiant.ordinateur.ramEnGo}+--+${etudiant.ordinateur.processeur}+--+${etudiant.ordinateur.capaciteDisqueEnGo}"></span>
            </div>

        </section>
        <a th:href="@{/user/etudiants}" class="btn btn-sm btn-success">Aller vers la
            liste des etudiants</a>
    </article>
</section>
</body>
</html>