<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main">
<head>
    <meta charset="utf-8">
    <title>Nouveau Ordinateur</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<section class="card" layout:fragment="content">
    <header class="card-header bg-success text-white">
        <!--TODO: Modify the message when it's a modification-->
        <span>Ordinateur ajouter avec success</span>
    </header>
    <article class="card-body">
        <section class="card-text">
            <div>
                <span class="font-weight-bold">ID</span> <span class="lead" th:text="${ordinateur.idOrdinateur}"></span>
            </div>
            <div>
                <span class="font-weight-bold">Type </span> <span class="lead" th:text="${ordinateur.type}"></span>
            </div>

            <div>
                <span class="font-weight-bold">Ram </span> <span class="lead" th:text="${ordinateur.ram}"></span>
            </div>

            <div>
                <span class="font-weight-bold">Processeur </span> <span class="lead"
                                                                        th:text="${ordinateur.processeur}"></span>
            </div>

            <div>
                <span class="font-weight-bold">Marque </span> <span class="lead" th:text="${ordinateur.marque}"></span>
            </div>

            <div>
                <span class="font-weight-bold">Capacite du disque  </span> <span class="lead"
                                                                                 th:text="${ordinateur.capaciteDisque}"></span>
            </div>

        </section>
        <a th:href="@{/ordinateurs}" class="btn btn-sm btn-success">Aller vers la
            liste des ordinateurs</a>
    </article>
</section>
</body>
</html>