<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Etudiants</title>
</head>
<body>
<section layout:fragment="content">
    <article>
        <span>
            <a th:href="@{/etudiants/add}" class="btn btn-success">Ajouter un.e etudiant.e</a>
        </span>
    </article>
    <article class="card">
			<span class="card-header text-center addBottomMarge">Liste des
				Etudiants.es</span>
        <table class="table table-hover">
            <thead class="thead-light ">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Filliere</th>
                <th>Ordinateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="etudiant : ${listEtudiants}">
                <td th:text="${etudiant.idEtudiant}"></td>
                <td th:text="${etudiant.nom}"></td>
                <td th:text="${etudiant.prenom}"></td>
                <td th:text="${etudiant.email}"></td>
                <td th:text="${etudiant.phone}"></td>
                <td th:text="${etudiant.filliere.nomFilliere}"></td>
                <td>
                    <div>
                        <span class="font-weight-bold">Marque : </span>
                        <span th:text="${etudiant.ordinateur.marque}"></span>
                    </div>
                    <div>
                        <span class="font-weight-bold">Type : </span>
                        <span th:text="${etudiant.ordinateur.type}"></span>
                    </div>
                    <div>
                        <span class="font-weight-bold">Ram en Go : </span>
                        <span th:text="${etudiant.ordinateur.ramEnGo}"></span>
                    </div>
                    <div>
                        <span class="font-weight-bold">Processeur : </span>
                        <span th:text="${etudiant.ordinateur.processeur}"></span>
                    </div>
                    <div>
                        <span class="font-weight-bold">Disque Dur en Go : </span>
                        <span th:text="${etudiant.ordinateur.capaciteDisqueEnGo}"></span>
                    </div>
                </td>
                <td>
                    <a th:href="@{/etudiants/modify(id=${etudiant.idEtudiant})}" class="btn btn-sm btn-outline-warning">Modifier</a>
                    <a th:href="@{/etudiants/delete(id=${etudiant.idEtudiant})}"
                       onclick="return confirm('Etes vous sur de vouloir supprimer ?')"
                       class="btn btn-sm btn-outline-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </article>
</section>
</body>
</html>