<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Fillieres</title>
</head>
<body>
<section layout:fragment="content">
    <article>
<span>
<a th:href="@{/fillieres/add}" class="btn btn-success">Ajouter une Filliere</a>
</span>
    </article>
    <article class="card">
			<span class="card-header text-center addBottomMarge">Liste des
				Fillieres</span>
        <table class="table table-hover">
            <thead class="thead-light ">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="filliere : ${listFillieres}">
                <td th:text="${filliere.idFilliere}"></td>
                <td th:text="${filliere.nomFilliere}"></td>
                <td>
                    <a th:href="@{/fillieres/modify(id=${filliere.idFilliere})}" class="btn btn-sm btn-outline-warning">Modifier</a>
                    <a th:href="@{/fillieres/delete(id=${filliere.idFilliere})}"
                       onclick="return confirm('Etes vous sur de vouloir supprimer ?')"
                       class="btn btn-sm btn-outline-danger">Supprimer</a></td>
                </td>
            </tr>
            </tbody>
        </table>
    </article>
</section>
</body>
</html>