<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="utf-8">
    <title>Gestion des ordinateurs</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<section class="card" layout:fragment="content">
    <header class="card-header text-center">
        <span class="lead">Error</span>
    </header>
    <article class="card-body">
        <section class="card-text">
            <div>
                <h2 class="font-weight-bold"></h2>
            </div>
            <span class=" blockquote text-danger">Access Denied !!!</span>

        </section>
    </article>
</section>
</body>
</html>