<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="utf-8">
    <title>Gestion des employes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<section class="card" layout:fragment="content">
    <article class="card-body">
        <section class="card-text">
            <div>
                <h4 class="text-center">A Propos / About</h4>
            </div>
            <div>
                <div class="addBottomMarge text-center"><img width="200" height="200" class="img-thumbnail rounded" th:src="@{/img/author.jpg}"/>
                </div>

                <p class="text-justify blockquote">
                Ousseynou Ngom est un jeune sénégalais passionné par la technologie notamment les réseaux informatique, le cloud computing (AWS), le DevOps, le développement web avec html CSS bootstrap Django et la programmation avec python.
                Enthousiaste et déterminé, il est titulaire d’une licence en administration système et réseau informatique et aussi titulaire de trois certifications en cyber sécurité de Fortinet à savoir NSE1, NSE2 et NSE3.
                Actuellement Ousseynou a obtenu sa certification technicien cloud aws à Orange Digital Center (Sonatel Academy) où il a suit une formation en cloud aws et le DevOps dans le cadre du programme AWS/Re-Start de Amazon Web Service.
                Etant competent dans ces domaines, ambitieux et rigoureux dans le travail, il est ouvert à toutes opportunités afin de pouvoir partager ses connaissances et son savoir-faire.
                </p>
            </div>
            <div>
                <span class="lead font-weight-bold">Telephone / Phone : </span>
                <span>+221 78 377 38 64</span>
            </div>
            <div>
                <span class="lead font-weight-bold">Email : </span>
                <span class="blockquote">ngom4675@gmail.com</span>
            </div>
            <div>
                <span class="lead font-weight-bold">Adresse / Address : </span>
                <span class="blockquote">Mousdalifa, Tivaouane</span>
                <span class="blockquote">Thiès, Sénégal (Afrique)</span>
            </div>

            <div>
                <span class="lead font-weight-bold">LinkedIn: </span>
                <a class="blockquote" href="https://www.linkedin.com/in/ousseynou-ngom-914842245/">linkedin.com/in/ousseynou-ngom-914842245/</a>
            </div>

            <div>
                <h4 class="text-center addBottomMarge "> A Propos du projet / About the project </h4>
                <div class="addBottomMarge">
                    <img height="100" class="img-fluid" th:src="@{/img/devops.jpg}"/>
                </div>
                <p class="text-justify blockquote">Ceci est un exemple de projet à conteneuriser avec Docker.</p>

                <hr width="50%">
            </div>
            <blockquote class="blockquote blockquote-reverse">
                <p class="mb-0 font-weight-bold">Technologies  </p>
                <ul>
                    <li class="blockquote-footer">Spring boot</li>
                    <li class="blockquote-footer">Thymeleaf</li>
                    <li class="blockquote-footer">Spring Data JPA</li>
                    <li class="blockquote-footer">Spring MVC</li>
                    <li class="blockquote-footer">Docker</li>
                    <li class="blockquote-footer">Git / GitHub</li>
                </ul>
            </blockquote>
        </section>
    </article>
</section>
</body>
</html>