<!-- Created by El Hadji M. NDONGO  -->
<!-- on 12/23/2021                     -->
<!-- Project: gestionOrdi       -->

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Gestion des Ordinateurs</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<p></p>
    <section class="card col-6 offset-3">
        <p></p>
        <span class="text-danger addBottomMarge" th:if="${param.error}">
            Invalid username and password.
        </span>
        <span class="text-success addBottomMarge" th:if="${param.logout}">
            You have been logged out.
        </span>
        <form th:action="@{/login}" method="post">
        <div class="input-group addBottomMarge">
            <div class="input-group-prepend ">
                <span class="input-group-text">Username :</span>
            </div>
            <input class="form-control" type="text" name="username"/>
        </div>
        <div class="input-group addBottomMarge">
            <div class="input-group-prepend ">
                <span class="input-group-text">Password :</span>
            </div>
            <input class="form-control" type="password" name="password"/>
        </div>
            <div class="input-group addBottomMarge"></div>
            <button type="submit" class="btn btn-success align-center" th:text="'Sign in'"></button>
    </form>
    </section>
</body>
</html>