<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Ordinateurs</title>
</head>
<body>
<section layout:fragment="content">
    <article>
    <span>
      <a th:href="@{/ordinateurs/add}" class="btn btn-success">Ajouter un Ordinateur</a>
    </span>
    </article>
    <article class="card">
			<span class="card-header text-center addBottomMarge">Liste des
				Ordinateurs</span>
        <table class="table table-hover">
            <thead class="thead-light ">
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Ram en Go</th>
                <th>Processeur</th>
                <th>Marque</th>
                <th>Capacite Disque en Go</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ordinateurs : ${ordinateurList}">
                <td th:text="${ordinateurs.idOrdinateur}"></td>
                <td th:text="${ordinateurs.type}"></td>
                <td th:text="${ordinateurs.ramEnGo}"></td>
                <td th:text="${ordinateurs.processeur}"></td>
                <td th:text="${ordinateurs.marque}"></td>
                <td th:text="${ordinateurs.capaciteDisqueEnGo}"></td>
                <td>
                    <a th:href="@{/ordinateurs/modify(id=${ordinateurs.idOrdinateur})}"
                       class="btn btn-sm btn-outline-warning">Modifier</a>
                    <a th:href="@{/ordinateurs/delete(id=${ordinateurs.idOrdinateur})}"
                       onclick="return confirm('Etes vous sur de vouloir supprimer ?')"
                       class="btn btn-sm btn-outline-danger">Supprimer</a>
                </td>

            </tr>
            </tbody>
        </table>
    </article>
</section>
</body>
</html>